<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Radioman</title>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-moment/angular-moment.min.js"></script>
    <script type="text/javascript" src="/bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>
    <link href="/bower_components/basscss/css/basscss.min.css" type="text/css" rel="stylesheet">
    <link href="/bower_components/angular-loading-bar/build/loading-bar.min.css" type="text/css" rel="stylesheet">
  </head>
  <body ng-app="radiomanApp">
    <nav class="clearfix white bg-navy">
      <section class="container">
        <div class="sm-col">
          <a href="/" class="btn py1">Radioman</a>
        </div>
        <div class="sm-col">
          <a href="#/playlists" class="btn py1">Playlists</a>
        </div>
        <div class="sm-col-right">
          <a href="/playlist.m3u" target="_blank" class="btn py1">m3u</a>
        </div>
        <!--
        <div class="sm-col-right">
          <a href="https://github.com/moul/radioman" class="btn py1">Fork me on Github</a>
        </div>
        -->
      </section>
    </nav>

    <div ng-controller="MainCtrl">
      <div ng-view></div>
    </div>

    <footer class="clearfix white bg-navy">
      <section class="container center">
        <div ng-controller="PlayerCtrl" class="center flex">
          <div class="sm-col">
            <audio audioplayer controls preload="none">
              <source src="{{endpoint.source | trustUrl}}" ng-repeat="endpoint in endpoints" />
            </audio>
          </div>
          <div class="sm-col">
            <a href="" ng-click="skipSong()" class="btn py1">➤➤</a>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
