<section class="container">
  <h2>Track: {{ track.path  }}</h2>

  <a href="" ng-click="playTrack(track)" class="btn btn-outline nowrap">Play now</a>
  <a href="" ng-click="setNextTrack(track)" class="btn btn-outline nowrap">Set next</a>

  <table class="table-light overflow-hidden bg-white border rounded">
    <thead class="bg-darken-2"><tr><th colspan="2">Info</th></tr></thead>
    <tbody>
      <tr><td class="bg-darken-1">Status</td><td>{{track.status}}</td></tr>
      <tr><td class="bg-darken-1">Hash</td><td>{{track.hash}}</td></tr>
      <tr><td class="bg-darken-1">Title</td><td>{{track.title || "n/a"}}</td></tr>
      <tr>
        <td class="bg-darken-1">Creation date</td>
        <td am-time-ago="track.creation_date" title="{{track.creation_date}}">{{track.creation_date}}</td>
      </tr>
      <tr>
        <td class="bg-darken-1">Modification date</td>
        <td am-time-ago="track.modification_date" title="{{track.modification_date}}">{{track.modification_date}}</td>
      </tr>
    </tbody>
    <thead class="bg-darken-2"><tr><th colspan="2">Filesystem</th></tr></thead>
    <tbody>
      <tr><td class="bg-darken-1">Relative Path</td><td>{{track.relative_path}}</td></tr>
      <tr><td class="bg-darken-1">Path</td><td>{{track.path}}</td></tr>
      <tr><td class="bg-darken-1">File name</td><td>{{track.file_name}}</td></tr>
      <tr><td class="bg-darken-1">File size</td><td>{{track.file_size}}</td></tr>
      <tr>
        <td class="bg-darken-1">File modification time</td>
        <td am-time-ago="track.file_modification_time" title="{{track.file_modification_time}}">{{track.file_modification_time}}</td>
      </tr>
      <tr><td class="bg-darken-1">Playlists</td><td>{{track.playlists || "n/a"}}</td></tr>
    </tbody>
    <thead class="bg-darken-2"><tr><th colspan="2">Taglib</th></tr></thead>
    <tbody>
      <tr><td class="bg-darken-1">Length</td><td>{{(track.tag.length | trackDuration) || "n/a"}}</td></tr>
      <tr><td class="bg-darken-1">Title</td><td>{{track.tag.title || "n/a"}}</td></tr>
      <tr><td class="bg-darken-1">Artist</td><td>{{track.tag.artist || "n/a"}}</td></tr>
      <tr><td class="bg-darken-1">Album</td><td>{{track.tag.album || "n/a"}}</td></tr>
      <tr><td class="bg-darken-1">Status</td><td>{{track.status || "n/a"}}</td></tr>
    </tbody>
  </table>
</section>
